@slb:registry=http://ci-dmd.evd.csp.slb.com/nexus/repository/npm-group/
//ci-dmd.evd.csp.slb.com/nexus/repository/npm-group/:_authToken=abc29bf1-b619-37d9-aeab-ec8b40b65e1e
@slb-innersource:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/slb-innersourcing/npm/registry/
@slb-angular:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/slb-dls/npm/registry/
@slb-vanilla:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/slb-dls/npm/registry/
@slb-types:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/slb-dls/npm/registry/
@slb-document-wke-ui-lib:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/slb-dtw-packages/npm/registry/
//ci-dmd.evd.csp.slb.com/nexus/repository/npm-group/:_authToken=abc29bf1-b619-37d9-aeab-ec8b40b65e1e
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 7/11/2018.
; begin auth token
//slb-swt.pkgs.visualstudio.com/_packaging/slb-innersourcing/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwYWU1ODIxMC1hMGQzLTY4ZGYtYThmYi1lY2I3MzYwM2ZhMTIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjU3NjZiNGUtMjE2OC00YjI1LTgwNDYtNWMyZTQzOTU2MmZiIiwic2lkIjoiMDM4MTQ1M2YtZTJhOC00YTRhLWEzMmUtZjEyYjFiOWJkYTQ0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTIzNTIwOTQ1LCJleHAiOjE1MzEyOTY5NDV9.k47v7W4j1LwvPsgpO2ECB2ChJ8IdJTBmKuAMimLhAq5xBFAS8iMkjX6CyV3fc0gcgrINM2yo48VGE9bbVHB47PKH0m1GHio9HPKKhu1knpO59HVpp-6B5QoTyLy98W2T4z-irNHZk8EBLCPgTZX9Mduq27fzTSsoszO1C-QwgAjQQbrRTJe5dRY6qHpMaKMniiDdiuqvw2-Dr5Z4iBqGRUIkvKN1Gecu5y3mBQr8VTf_xYgBDaCB0bxFK3mY6BxiB-k6Nu4gCq4jo2byY10Wijb1WTVCaHPmylMw04JCDxQ4zCNUKL7p_tyMLJ1SvJ2ZqRFXgshmzQpUf3MYNiVDWg
//slb-swt.pkgs.visualstudio.com/_packaging/slb-innersourcing/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwYWU1ODIxMC1hMGQzLTY4ZGYtYThmYi1lY2I3MzYwM2ZhMTIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiZjU3NjZiNGUtMjE2OC00YjI1LTgwNDYtNWMyZTQzOTU2MmZiIiwic2lkIjoiMDM4MTQ1M2YtZTJhOC00YTRhLWEzMmUtZjEyYjFiOWJkYTQ0IiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTIzNTIwOTQ1LCJleHAiOjE1MzEyOTY5NDV9.k47v7W4j1LwvPsgpO2ECB2ChJ8IdJTBmKuAMimLhAq5xBFAS8iMkjX6CyV3fc0gcgrINM2yo48VGE9bbVHB47PKH0m1GHio9HPKKhu1knpO59HVpp-6B5QoTyLy98W2T4z-irNHZk8EBLCPgTZX9Mduq27fzTSsoszO1C-QwgAjQQbrRTJe5dRY6qHpMaKMniiDdiuqvw2-Dr5Z4iBqGRUIkvKN1Gecu5y3mBQr8VTf_xYgBDaCB0bxFK3mY6BxiB-k6Nu4gCq4jo2byY10Wijb1WTVCaHPmylMw04JCDxQ4zCNUKL7p_tyMLJ1SvJ2ZqRFXgshmzQpUf3MYNiVDWg
; end auth token
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 7/11/2018.
; begin auth token
//slb-swt.pkgs.visualstudio.com/_packaging/slb-dls/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwYWU1ODIxMC1hMGQzLTY4ZGYtYThmYi1lY2I3MzYwM2ZhMTIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNDY1ZmU5MTItMWY4ZS00YmJjLTgwM2YtNTE3ODUzYTg5NzM1Iiwic2lkIjoiOWU2NWFkZTItMTM1ZC00NzExLWE3OTQtNWNlNGIyZjljYjgyIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTIzNTIxMDIxLCJleHAiOjE1MzEyOTcwMjB9.gEaZDg0iEaTOHpRgulBsXSDNkkkY-NvBE61kSl9dv1IbJuBjQjqIqt1pd7lCpRAkYaVgQWt-_1n_leSawN4sgMBrBzzimUkyS_OhXMabfr7wkTKGTfrzbz20x3hNJ6EoQtzLce2lJ9kCzMzerAjW9FGkrYWyaE1sCSeyNvwB1jcBCDQRRwpKu5SGcDunAS4vCU2cXk_PWE_O3U_xYBTBX2-HJ3W_I629DTfFfIASeZLW3gHpbePNA9-_yBDf_BMiDF46nxutiZWUjzqSgcSys_E6tV8aYxRO7cclu4mjT-x3BjiFfk450ADBh_A928oJHFMBckvNX5RronkLFlYHkg
//slb-swt.pkgs.visualstudio.com/_packaging/slb-dls/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwYWU1ODIxMC1hMGQzLTY4ZGYtYThmYi1lY2I3MzYwM2ZhMTIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNDY1ZmU5MTItMWY4ZS00YmJjLTgwM2YtNTE3ODUzYTg5NzM1Iiwic2lkIjoiOWU2NWFkZTItMTM1ZC00NzExLWE3OTQtNWNlNGIyZjljYjgyIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTIzNTIxMDIxLCJleHAiOjE1MzEyOTcwMjB9.gEaZDg0iEaTOHpRgulBsXSDNkkkY-NvBE61kSl9dv1IbJuBjQjqIqt1pd7lCpRAkYaVgQWt-_1n_leSawN4sgMBrBzzimUkyS_OhXMabfr7wkTKGTfrzbz20x3hNJ6EoQtzLce2lJ9kCzMzerAjW9FGkrYWyaE1sCSeyNvwB1jcBCDQRRwpKu5SGcDunAS4vCU2cXk_PWE_O3U_xYBTBX2-HJ3W_I629DTfFfIASeZLW3gHpbePNA9-_yBDf_BMiDF46nxutiZWUjzqSgcSys_E6tV8aYxRO7cclu4mjT-x3BjiFfk450ADBh_A928oJHFMBckvNX5RronkLFlYHkg
; end auth token
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 8/1/2018.
; begin auth token
//slb-swt.pkgs.visualstudio.com/_packaging/slb-dtw-packages/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJmYjdjZjAwMS1mNWI4LTRjZDktODUwOC1lMTA1ZDVmOTg2YjEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTI2YjI0YWEtMjE3Mi00Nzk2LTk4NWEtOGRhMmI1NDgyNGFhIiwic2lkIjoiYzgyZWYwOWYtNmM4OS00NjE0LTlkNTItMGRiZTM2Y2E4NzUxIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTI1MzIyODM3LCJleHAiOjE1MzMwOTg4Mzd9.E-xPpXAHlBAcKoTktHFgq7lUsZ079Z2yqd7E9CC4FavyqmDNtDF1TLxc2-ME7qxWnNlkw08vnXx3FtKIYjQlSogN7l43YuIklL3T9_xG7NnYhWlewBX4-_jflKuXivbeqHlCbctjWCXyKpJSd78fBYch6mrziTCAfXSrNMw767ITJbB6rJZc3XOrBSoKaItwAMv7HFkIEDTyJMSIFYqhgq9rfoOqLKnevYv8DYwHWCnNewtmQ3RErlRZX8aS6V-2O6-5wAIm4Nd1ZbXGvr3QeUoi49F9Db82DGoNFOo3JpKLeKs-9XmmlCIuOjl8HUZOnLxlqugwWuWbBhfVuE56Rw
//slb-swt.pkgs.visualstudio.com/_packaging/slb-dtw-packages/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJmYjdjZjAwMS1mNWI4LTRjZDktODUwOC1lMTA1ZDVmOTg2YjEiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiNTI2YjI0YWEtMjE3Mi00Nzk2LTk4NWEtOGRhMmI1NDgyNGFhIiwic2lkIjoiYzgyZWYwOWYtNmM4OS00NjE0LTlkNTItMGRiZTM2Y2E4NzUxIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTI1MzIyODM3LCJleHAiOjE1MzMwOTg4Mzd9.E-xPpXAHlBAcKoTktHFgq7lUsZ079Z2yqd7E9CC4FavyqmDNtDF1TLxc2-ME7qxWnNlkw08vnXx3FtKIYjQlSogN7l43YuIklL3T9_xG7NnYhWlewBX4-_jflKuXivbeqHlCbctjWCXyKpJSd78fBYch6mrziTCAfXSrNMw767ITJbB6rJZc3XOrBSoKaItwAMv7HFkIEDTyJMSIFYqhgq9rfoOqLKnevYv8DYwHWCnNewtmQ3RErlRZX8aS6V-2O6-5wAIm4Nd1ZbXGvr3QeUoi49F9Db82DGoNFOo3JpKLeKs-9XmmlCIuOjl8HUZOnLxlqugwWuWbBhfVuE56Rw
; end auth token
