<div class="input-form">
    <div class="wrapper">
        <div class="main-content">
            <div class="input-form">
                <label>Document Id</label>
                <input type="text" [(ngModel)]="documentId" placeholder="Enter well Id" />
            </div>
            <div class="input-group">
                <div class="label-col"> Keyword :</div>
                <input type="text" [(ngModel)]="query" placeholder="Enter keyword" />
            </div>
            <div class="input-form">
                <label> sToken</label>
                <input type="text" [(ngModel)]="sToken" placeholder="Enter sToken" />
            </div>
            <div class="input-form">
                <label> Client Id</label>
                <input type="text" [(ngModel)]="clientId" placeholder="Enter client Id" />
            </div>
            <div class="clearfix input-form">
                <label>
                    <input type='checkbox' [(ngModel)]='closeIconVisibility'>Close Icon Visibility <span> = {{closeIconVisibility}}</span>
                </label>
            </div>
        </div>
    </div>
    <div class="input-form formT">
        <button (click)="toggleDocViewer()">Show</button>
    </div>
</div>
<div class="doc-viewer-holder">
    <div *ngIf="showDocViewer && documentId">
        <wke-document-view [documentViewerServiceURL]='url' [sToken]='sToken' [documentId]='documentId' [clientId]='clientId' [query]='query' [closeIconVisibility]="closeIconVisibility" (close)="closeDocView()">
        </wke-document-view>
    </div>
</div>