<div class="input-form">
    <!-- <div class="formT">
        <label>Document Id</label>
        <input type="text">
    </div>
    <div class="formT">
        <label>Stoken</label>
        <input type="text">
    </div>
    <div class="formT">
        <label>client Id</label>
        <input type="text">
    </div>
    <div class="formT">
        <label>Keyword</label>
        <input type="text">
    </div>
    <div class="formT">
        <label>Enable zoom
                <input type="checkbox">
            </label>
    </div>
    <div class="formT">
        <label>Enable movement
                <input type="checkbox">
            </label>
    </div> -->
    <div class="formT">
        <button (click)="toggleDocViewer()">Show</button>
    </div>
</div>
<div class="doc-viewer-holder">
    <div *ngIf="showDocViewer">
        <app-document-viewer [closeIcon]="closeIcon" (close)="closeDocView()"></app-document-viewer>
    </div>
</div>