<section class="doc-viewer-container clearfix">
    <div class="doc-header clearfix">
        <div class="doc-viewer-icon">$</div>
        <div class="doc-title">
            <span class="file-name">Drilling report ad lorem ipsuma</span>
            <span class="extention-file">.pdf</span>
        </div>
        <div class="close-icon" (click)="toggleExpandedState()">X</div>
    </div>
    <div class="doc-information clearfix">
        <div class="doc-info-heading clearfix">
            <h5>Information</h5>
        </div>
        <table class="clearfix">
            <tbody>
                <tr>
                    <th>Author :</th>
                    <td align="right">{{ 'jhon doe' | titlecase }}</td>
                </tr>
                <tr>
                    <th>Date :</th>
                    <td align="right">{{ '2015-06-15 09:03 AM GMT+9' | date:'dd/MM/yyyy' }}</td>
                </tr>
                <tr>
                    <th>Size :</th>
                    <td align="right"> <span>{{ 13909024 | fileSize  }}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="doc-info-heading clearfix spacing-left-right">
        <h5>Search result pages</h5>
    </div>
    <div class="clearfix result-page">
        <div class="clearfix result-thumbnail">
            <ul>
                <li>
                    <div class="thumbholder">some pdf</div>
                    <div class="page-number clearfix">1</div>
                </li>
                <li>
                    <div class="thumbholder">some pdf</div>
                    <div class="page-number clearfix">2</div>
                </li>
                <li>
                    <div class="thumbholder">some pdf</div>
                    <div class="page-number clearfix">3</div>
                </li>
                <li>
                    <div class="thumbholder">some pdf</div>
                    <div class="page-number clearfix">4</div>
                </li>
                <li>
                    <div class="thumbholder">some pdf</div>
                    <div class="page-number clearfix">5</div>
                </li>
                <li>
                    <div class="thumbholder">some pdf</div>
                    <div class="page-number clearfix">6</div>
                </li>
            </ul>
        </div>
    </div>
</section>